$screen-background: #111;
$btn-padding-x: 33px;

$screen-background-color: black;
$background-color: rgba(0, 0, 0, 0.91);

$dark: rgb(40, 44, 52);
$dialog-color: $dark;

$primary: rgba(102, 0, 0, 0.4);

$menu-button-border: rgba(252, 0, 0, 0.8);
$font-color: rgb(46, 255, 0);

$modal-content-bg: $dialog-color;
$modal-content-color: $font-color;
$modal-content-border-color: $font-color;
$modal-header-border-color: $font-color;
$close-color: $font-color;

$navbar-font-color: #6c757d;

$flicker-steps: 50;
$flicker-delay: 0.5s;


