$screen-background: #111;
$btn-padding-x: 33px;

$primary: rgba(102, 0, 0, 0.4);
//$secondary:     $gray-600 !default;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;

$menu-button-border: rgba(252, 0, 0, 0.8);
$font-color: rgb(46, 255, 0);

$flicker-steps: 50;
$flicker-delay: 0.5s;
$background-color: #393939;